#clockface {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: absolute;
    background-image: url('3d-watch-face.svg');
    background-size: contain;
    background-repeat: no-repeat;
    
}

#hand {
    height: 100%;
    transform: rotate(-90deg);
    background-image: url('watch-hand.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* A transparent container for the clock hand that stretches   
   the entire diameter of the clock--useful for simple transform origin
   as well as scaling up the clock to match the window size. */
#hand-holder {
    transition-timing-function: ease-in-out;
    transition-duration: 1000ms;
    height: 6%;
    margin-top: 47%;
}