#clockface {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: absolute;
    background-image: url('3d-watch-face.svg');
    background-size: contain;
    background-repeat: no-repeat;
    
}

#hand {
    
    top: 142px;
    left: 33px;
    height: 16px;
    width: 145px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 117px 8px;
    /* border-radius: 5px; */

    background-image: url('watch-hand.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
