#clockface {
    border: 2px solid black;
    border-radius: 50%;
    height: 300px;
    width: 300px;

    background-image: url('slow-watch-face.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#hand {
    background-color: darkgray;
    top: 150px;
    height: 5px;
    width: 145px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 100%;
    border-radius: 5px;
}
